html {
  margin: 0px;
  width: 100%;
  height: 100%;
  /* overflow-y: hidden !important; */
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
  padding-right: 0 !important;
  overflow: auto !important;
  /* overflow-y: hidden !important; */
}

#root {
  margin: 0px;
  width: 100%;
  height: 100%;
  /* overflow-y: hidden !important; */
}

#cognitive-search-autocomplete-popup {
  max-height: 55vh !important;
}

/* css herer */

.capitalize {
  text-transform: capitalize !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.lightblueBtn {
  text-transform: capitalize !important;
  background-color: rgba(23, 170, 221, 1) !important;
  color: #fff !important;

}